<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.name }} - {{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/marx.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    </head>
    <body>

    <div class="nav">

      <h1><a href="{{site.baseurl}}/">{{site.name}}</a></h1>

      <ul>
        <li>000 &gt; <a href="/manifesto/">MANIFESTO</a></li>
        <li>001 &gt; <a href="/language/">LANGUAGE</a></li>
        <li>002 &gt; <a href="/neosculpture/">NEO SCULPTURE</a></li>
        <li>003 &gt; <a href="/netlandart/">NET+LAND ART</a></li>
        <li>004 &gt; <a href="/supernature/">SUPERNATURE</a></li>
        <li>005 &gt; <a href="/spectralspaces/">SPECTRAL SPACES</a></li>
        <li>006 &gt; <a href="/raytrace/">RAYTRACE</a></li>
        <li>007 &gt; <a href="/unprivateearth/">UNPRIVATE EARTH</a></li>
        <li>008 &gt; <a href="/greenscreen/">GREENSCREEN-VERSE</a></li>
        <li>009 &gt; <a href="/posthuman/">POSTHUMAN</a></li>
      </ul>

    </div>

    <div class="site">
      {{ content }}
    </div>

    </body>
</html>
